<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hani Shop Test Suite">
    <listeners>
        <listener class-name="org.example.report.TestListener"/>
    </listeners>

    <test name="Cart Tests">
        <classes>
            <class name="org.example.tests.AddProductTest"/>
            <class name="org.example.tests.UpdateCartTest"/>
            <class name="org.example.tests.DeleteCartTest"/>
            <class name="org.example.tests.CartApiTest"/>
            <class name="org.example.tests.ApiSearchTest"/>
            <class name="org.example.tests.ResponsiveTest"/>
        </classes>
    </test>
</suite>
